body {
    background-color: #2f2e2e;
}
#calculator {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 720px;
}

#display {
    display: flex;
    width: 460px;
    height: 120px;
    margin: 0px;
    margin-right: 20px;
    justify-content: right;
    align-items: center;
    color: #c9c9c9;
    font-size: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}
.button {
    display: flex;
    font-size: 36px;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: #c9c9c9;
}
.button:hover {
    background-color: #595656 !important;
}
#zero {
    width: 240px;
}